tmp/*
!tmp/.gitkeep
*.zip
data/log/*
!data/log/.gitkeep
data/test_case/*
!data/test_case/.gitkeep
data/ssl/*
!data/ssl/.gitkeep
data/public/upload/*
!data/public/upload/.gitkeep
data/public/avatar/*
!data/public/avatar/default.png
data/public/software/*
!data/public/software/.gitkeep
data/public/slideshow/*
!data/public/slideshow/.gitkeep
data/config/*
!data/config/.gitkeep

__pycache__/
*.py[cod]
.Python

**/migrations/[0]*.py